<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <div th:replace="~{fragment/bootstrap.html :: bootstrap-css}"></div>

  <style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
  </style>
</head>
<body>

<h1>상품 등록 폼</h1>
<hr>
<form th:action method="post" th:object="${item}">
  <div class="mb-3">
    <label class="form-label" for="itemName">상품명 : </label>
    <input th:field="*{itemName}" id="itemName" th:errorclass="field-error">
    <div class="field-error" th:errors="*{itemName}"></div>
  </div>



  <div class="mb-3">
    <label class="form-label" for="price">가격 : </label>
    <input th:field="*{price}" id="price" th:errorclass="field-error">
    <div th:class="field-error" th:errors="*{price}"></div>
  </div>


  <div class="mb-3">
    <label for="stockQuantity">재고 수량 : </label>
    <input th:field="*{stockQuantity}" id="stockQuantity" th:errorclass="field-error">
    <div class="field-error" th:errors="*{stockQuantity}"></div>
  </div>


  <div class="mb-3">
    <div th:each="country : ${countries}" class="form-check form-check-inline">
      <input type="checkbox" th:field="*{regions}" th:value="${country.key}" class="form-check-input">
      <label th:for="${#ids.prev('regions')}" th:text="${country.value}" class="form-check-label">지역</label>
    </div>
  </div>

  <div class="mb-3">
    <div th:each="itemType : ${itemTypes}" class="form-check form-check-inline">
      <input type="radio" th:field="*{itemType}" th:value="${itemType.name()}" class="form-check-input"> <!--id = itemType1 , id= itemType2 ,  id=itemType3 , name=itemType-->
      <label th:for="${#ids.prev('itemType')}" th:text="${itemType.description}" class="form-check-label">상품 종류</label>
    </div>
  </div>


  <div class="mb-3">
    <select th:field="*{deliveryCompany}"> 서버에 던지는 용도 , 일반 체크박스에서의 div 혹은 th:block 역할 , 여러 option 값을 감싸주는 역할 , each로 돌면서 각 name에 대한 value가 매핑이 됨
      <option value="" th:text="|배송 업체를 선택하세요|"></option> 값을 표현하는 용도
      <option th:each="deliveryCompany : ${deliveryCompanies}"
              th:value="${deliveryCompany}"
              th:text="${deliveryCompany}"></option> text와 value는 엄연히 다르네 value는 name과 매핑되는 서버에 던질 값(name:value 형태 ㅇㅇ) , text는 온전히 그냥 화면에 출력용
    </select>

  </div>
<!--
  <div class="mb-3">
    <select th>
      <option th:value="|&#45;&#45;배달 업체를 지정하시오&#45;&#45;|"></option>
      <option >

      </option>
    </select>
  </div>
-->



  <button class="btn btn-primary" type="submit">등록하기</button>

</form>
<div th:replace="~{/fragment/bootstrap.html :: bootstrap-js}"></div>

</body>
</html>