<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <div th:replace="~{fragment/bootstrap.html :: bootstrap-css}"></div>

  <style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
  </style>
</head>
<body>

<h1>상품 등록 폼</h1>
<hr>
<form th:action method="post" th:object="${item}">
  <div class="mb-3">
    <label class="form-label" for="itemName">상품명 : </label>
    <input th:field="*{itemName}" id="itemName" th:errorclass="field-error">
    <div class="field-error" th:errors="*{itemName}"></div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="price">가격 : </label>
    <input th:field="*{price}" id="price" th:errorclass="field-error">
    <div th:class="field-error" th:errors="*{price}"></div>
  </div>

  <div class="mb-3">
    <label for="stockQuantity">재고 수량 : </label>
    <input th:field="*{stockQuantity}" id="stockQuantity" th:errorclass="field-error">
    <div class="field-error" th:errors="*{stockQuantity}"></div>
  </div>


<!--
  <div class="mb-3" th:each="region : ${regions}">
    <label th:for="#ids.prev('')"></label>
    <input th:>
  </div>
-->





  <button class="btn btn-primary" type="submit">등록하기</button>

</form>
<div th:replace="~{/fragment/bootstrap.html :: bootstrap-js}"></div>

</body>
</html>