<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="/test" method="post">
    <div>
      <label for="name">이름 입력 : </label>
      <input type="text" id="name" name="name" value="dkdkd" >
    </div>

    <div>
      <label for="age">나이 입력 : </label>
      <input type="text" id="age" name="age">
    </div>

    <div>
      <label for="sale">판매여부</label>
      <input type="checkbox" name="sale" id="sale"> <!--일반적인 HTTP에서는 보내질 땐 자동으로 value가 on이 지정돼서 전달됨-->
      <input type="hidden" name="_sale"> <!--일반적인 HTTP에서는 value를 지정해야 값이 보내짐-->
    </div>

    <button type="submit">누르시오</button>
  </form>
</body>
</html>