<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form th:action method="post" th:object="${user}">

    <div>
      <label for="name" th:text="|이름 입력 : |">이름</label>
      <input type="text" th:field="*{name}" id="name">
    </div>

    <div>
      <label for="age" th:text="|나이 입력 : |">나이</label>
      <input type="text" th:field="*{age}" id="age">
    </div>

    <div>
      <label for="sale" th:text="|판매여부 : |">판매여부</label>
      <input type="checkbox" th:field="*{sale}" id="sale">
    </div>



    <button type="submit">누르시오</button>
  </form>
</body>
</html>