<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragment/bootstrap.html :: bootstrap-css}"></div>
  <style>
    .field-error {
           border-color: red;
          color: red;
        }
  </style>
</head>
<body>

  <form th:object="${login}" th:action method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="error : ${#fields.globalErrors()}" th:text="${error}">전체 오류 메시지</p>
    </div>



    <div class="md-3">
      <label class="form-label" for="loginEmail" th:text="'로그인 이메일 입력'">로그인 아이디 입력</label>
      <input th:field="*{loginEmail}" id="loginEmail" placeholder="아이디를 입력하세요" th:errorclass="field-error">
      <div class="field-error" th:errors="*{loginEmail}"></div>
    </div>

    <div class="md-3">
      <label class="form-label" for="password" th:text="'비밀번호 입력'">비밀번호 입력</label>
      <input th:field="*{password}"  id="password" placeholder="비밀번호를 입력하세요" th:errorclass="field-error">
      <div  class="field-error" th:errors="*{password}"></div>
    </div>


    <button type="submit" class="btn btn-primary" th:text="|로그인하기|"></button>
  </form>


<div th:replace="~{fragment/bootstrap.html :: bootstrap-js}"></div>
</body>
</html>