<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragment/bootstrap.html :: bootstrap-css}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:text="${member.memberName}님 상품 관리"></h1>
<div class="mb-3">
  <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/items}'|" th:text="|상품 관리 페이지|"></button>
</div>

<div class="mb-3">
  <form th:action="@{/logout}" method="post">
    <button class="btn btn-primary" type="submit" th:text="|로그아웃|"></button>
  </form>
</div>


<div th:replace="~{/fragment/bootstrap.html :: bootstrap-js}"></div>
</body>
</html>